.structure-form-pane{class: ('active' if f.options[:child_index] == 0), id: "structure_form_pane_#{f.object.object_id}",
  data: { case_study_part_id: f.object.object_id } }
  / Structure parts
  .structure-form-part
    .page-form-label
      = f.label :title
    .page-form-content
      = f.text_field :title, placeholder: Spina::CaseStudies::CaseStudyPart.human_attribute_name(:title_placeholder)

  .structure-form-part
    .page-form-label
      = f.label :content
    .page-form-content
      .page-form-rich-text
        = f.hidden_field :content, id: "#{f.object.object_id}_content_input"
        %trix-editor.text-input.trix-content{ input: "#{f.object.object_id}_content_input" }

  .structure-form-part
    .page-form-label
      = f.label :spina_image
    .page-form-control{data: { controller: "image-form" } }
      .page-form-media-picker
        %div{ style: "width: 100%" }
          = link_to admin_media_picker_path(selected_ids: [f.object.image_id], input: "media_picker_#{f.object.object_id}_image_id", mode: "single"), remote: true, class: 'image', data: {target: 'image-form.image'} do
            .page-form-media-picker-placeholder=t "spina.images.choose_image"
            %div{id: "media_picker_#{f.object.object_id}_image_id"}
              = hidden_field_tag :signed_blob_id, '', data: { target: 'image-form.signedBlobId' }
              = hidden_field_tag :filename, '', id: nil, data: { target: 'image-form.filename' }
              = f.hidden_field :image_id, data: { target: 'image-form.imageId' }
            %div
              - if f.object.image.present?
                = image_tag main_app.url_for(f.object.image.variant(resize: "400x300^", crop: "400x300+0+0")), width: 200, height: 150

        = button_tag type: :default, class: 'button button-small button-white', data: {action: "image-form#remove"} do
          %i.icon.icon-cross{style: "margin: 0; font-size: 10px"}

  .structure-form-part
    .page-form-label
      = f.label :alignment
    .page-form-control
      .select-dropdown
        = f.select :alignment, [['Right', 'right'], ['Left', 'left'], ['Centre', 'centre']], prompt: true
  / Hidden field
  = f.hidden_field :position, placeholder: "Position", class: "structure_form_pane_#{f.object.object_id}_position",
    data: { target: 'position' }
  = f.hidden_field :_destroy
  = link_to t('spina.delete'), '#', class: 'remove_structure_item_fields button button-mini button-link pull-right'
