.structure-form-pane{class: ('active' if f.options[:child_index] == 0), id: "structure_form_pane_#{f.object.object_id}"}
  / Structure parts
  .structure-form-part
    .horizontal-form-label
      = f.label :title
    .horizontal-form-content
      = f.text_field :title, placeholder: Spina::CaseStudies::CaseStudyPart.human_attribute_name(:title_placeholder)

  .structure-form-part
    .horizontal-form-label
      = f.label :content
    .horizontal-form-content
      = render 'spina/admin/shared/rich_text_field', f: f, field: :content

  .structure-form-part
    .horizontal-form-label
      = f.label :spina_image
    .horizontal-form-content
      = link_to admin_media_picker_path(selected_ids: [f.object.image_id], hidden_field_id: "media_picker_#{f.object.object_id}"), remote: true, class: 'media_picker clearfix' do
        .placeholder
          %span.button.button-small.button-round
            %i.icon.icon-dots
            =t 'spina.images.choose_image'

        - if f.object&.image&.file&.attached?
          .image
            = image_tag variant(f.object.image.file, resize: "300x300^", crop: "300x300+0+0")

        = f.hidden_field :image_id, data: { hidden_field_id: "media_picker_#{f.object.object_id}" }

  .structure-form-part
    .horizontal-form-label
      = f.label :alignment
    .horizontal-form-content
      .select-dropdown
        = f.label :alignment
        = f.select :alignment, [['Right', 'right'], ['Left', 'left'], ['Centre', 'centre']], prompt: true
  / Hidden field
  = f.hidden_field :position, placeholder: "Position", class: "structure_form_pane_#{f.object.object_id}_position"
  = f.hidden_field :_destroy
  = link_to t('spina.delete'), '#', class: 'remove_structure_item_fields button button-mini button-link pull-right'
