%li{class: ('active' if (current_admin_path.start_with?('/case_studies')))}
  = link_to admin_case_studies_case_studies_path do
    = icon 'barchart'
    = t('spina.case_studies.title')
    = icon 'caret-right'
  %ul
    %li{class: ('active' if current_admin_path.start_with?('/case_studies'))}
      = link_to t('spina.case_studies.title'), admin_case_studies_case_studies_path
