%tr{data: { id: case_study.id }}
  %td.nowrap
    %h3= link_to case_study.title, spina.edit_admin_case_studies_case_study_path(case_study.id)
    %small #{time_ago_in_words(case_study.created_at)} ago
    -# .labels
    -#   - if case_study.disabled?
    -#     %span.label.label-info= t('spina.case_studies.case_studies.disabled')
    -#   - if case_study.draft?
    -#     %span.label.label-info= t('spina.case_studies.case_studies.concept')
    -#   - if case_study.yet_to_be_published?
    -#     %span.label.label-default
    -#       Will be published on #{case_study.published_date}
  %td.nowrap.text-right
    -# = link_to spina.case_studies_case_study_path(case_study.id), class: 'button button-small button-link dd-nodrag', target: '_blank' do
    -#   = icon 'eye'
    -#   = t('spina.view')

    = link_to spina.edit_admin_case_studies_case_study_path(case_study.id), class: 'button button-link' do
      = icon 'pencil-outline'
      = t('spina.case_studies.edit')
