-# haml-lint:disable IdNames
.tab-content#case_study_seo
  -# haml-lint:enable IdNames
  .horizontal-form
    %div{style: "margin: 40px 0"}
      .horizontal-form-group
        .horizontal-form-label
          = Spina::CaseStudies::CaseStudy.human_attribute_name :seo_title
        .horizontal-form-content
          = f.text_field :seo_title,
            placeholder: Spina::CaseStudies::CaseStudy.human_attribute_name(:seo_title_placeholder)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::CaseStudies::CaseStudy.human_attribute_name :description
          %small= Spina::CaseStudies::CaseStudy.human_attribute_name(:description_help)
        .horizontal-form-content
          = f.text_field :description,
            placeholder: Spina::CaseStudies::CaseStudy.human_attribute_name(:description_placeholder)

      .horizontal-form-group
        .horizontal-form-label
          = Spina::CaseStudies::CaseStudy.human_attribute_name :slug
          %small= Spina::CaseStudies::CaseStudy.human_attribute_name(:slug_help)
        .horizontal-form-content
          = f.text_field :slug,
            placeholder: Spina::CaseStudies::CaseStudy.human_attribute_name(:slug_placeholder),
            readonly: true, disabled: true
