#case_study_content.tab-content.active.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::CaseStudies::CaseStudy.human_attribute_name :title
      .horizontal-form-content
        = f.text_field :title, placeholder: Spina::CaseStudies::CaseStudy.human_attribute_name(:title_placeholder)

    .horizontal-form-group
      .horizontal-form-label
        = Spina::CaseStudies::CaseStudy.human_attribute_name :intro
      .horizontal-form-content
        = render 'spina/admin/shared/rich_text_field', f: f, field: :intro

    .horizontal-form-group
      .horizontal-form-label
        = Spina::CaseStudies::CaseStudy.human_attribute_name :image_id
      .horizontal-form-content
        = link_to admin_media_picker_path(selected_ids: [f.object.image_id], hidden_field_id: 'media_picker_image_id'), remote: true, class: 'media_picker clearfix' do
          .placeholder
            %span.button.button-small.button-round
              %i.icon.icon-dots
              =t 'spina.images.choose_image'

          - if f.object&.image&.file&.attached?
            .image
              = image_tag variant(f.object.image.file, resize: "300x300^", crop: "300x300+0+0")

          = f.hidden_field :image_id, data: { hidden_field_id: "media_picker_image_id" }

    .horizontal-form-content
      .structure-form
        .structure-form-menu
          %label= t('spina.case_studies.case_study_parts.title')

          %ul
            - unless f.object.case_study_parts.nil?
              - f.object.case_study_parts.sort_by(&:position).each_with_index do |part, index|
                %li{class: ('active' if index == 0), data: {structure_item_id: part.object_id, case_study_part_id: part.object_id}}
                  = link_to "#structure_form_pane_#{part.object_id}" do
                    %i.icon.icon-bars.sortable-handle
                    = part.title

          = link_to_add_case_study_part_fields f, :case_study_parts do
            = icon('plus')

        .structure-form-content
          = f.fields_for :case_study_parts, f.object.case_study_parts.sort_by(&:position) do |ff|
            = render 'spina/admin/case_studies/case_study_parts/fields', f: ff

    .horizontal-form-content
      .structure-form
        .structure-form-menu
          %label
            = t('spina.case_studies.case_studies.testimonial')
            (Optional)

        .structure-form-content
          = f.fields_for :testimonial, (f.object.testimonial || f.object.build_testimonial) do |ff|
            .structure-form-pane{class: 'active'}
              .structure-form-part
                .horizontal-form-label
                  = Spina::CaseStudies::Testimonial.human_attribute_name :name
                .horizontal-form-content
                  = ff.text_field :name, placeholder: Spina::CaseStudies::Testimonial.human_attribute_name(:name_placeholder)

              .structure-form-part
                .horizontal-form-label
                  = Spina::CaseStudies::Testimonial.human_attribute_name :company
                .horizontal-form-content
                  = ff.text_field :company, placeholder: Spina::CaseStudies::Testimonial.human_attribute_name(:company_placeholder)

              .structure-form-part
                .horizontal-form-label
                  = Spina::CaseStudies::Testimonial.human_attribute_name :job_title
                .horizontal-form-content
                  = ff.text_field :job_title, placeholder: Spina::CaseStudies::Testimonial.human_attribute_name(:job_title_placeholder)

              .structure-form-part
                .horizontal-form-label
                  = Spina::CaseStudies::Testimonial.human_attribute_name :content
                .horizontal-form-content
                  = render 'spina/admin/shared/rich_text_field', f: ff, field: :content


              .structure-form-part
                .horizontal-form-label
                  = Spina::CaseStudies::Testimonial.human_attribute_name :image_id
                .horizontal-form-content
                  = link_to admin_media_picker_path(selected_ids: [ff.object.image_id], hidden_field_id: 'media_picker_testimonial_image_id'), remote: true, class: 'media_picker clearfix' do
                    .placeholder
                      %span.button.button-small.button-round
                        %i.icon.icon-dots
                        =t 'spina.images.choose_image'

                    - if ff.object&.image&.file&.attached?
                      .image
                        = image_tag variant(ff.object.image.file, resize: "300x300^", crop: "300x300+0+0")

                    = ff.hidden_field :image_id, data: { hidden_field_id: "media_picker_testimonial_image_id" }
