<div id="<%= dom_id(testimonial) %>" class="<%= dom_class(testimonial) %> border-b border-gray-200 flex items-center justify-between space-x-8 pr-2">
  <%= link_to spina.edit_admin_case_studies_testimonial_path(testimonial.id), class: 'flex items-center text-spina text-sm p-4 hover:text-spina-dark font-medium' do %>
    <div>
      <strong><%= testimonial.name %></strong>
      <%= testimonial.company if testimonial.company.present? %>
      <div class="text-gray-400 text-xs"><%= time_ago_in_words(testimonial.created_at) %> ago</div>
    </div>
  <% end %>
  <div>
    <%= link_to spina.edit_admin_case_studies_testimonial_path(testimonial.id), class: "btn btn-default px-3" do %>
      <%= heroicon('pencil', style: :solid, class: 'w-4 h-4') %>
    <% end %>
  </div>
</div>
